.caption {
  padding: 15px;
}

.certs-1 > ul > li > a> img {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: 1px solid #000;  
}

.certs-1 > ul > li {
  text-align: center;
  margin-bottom: 10px;
  margin-right: 30px;
  list-style: none;
}

.certs > ul {
  padding: 0;
  margin: 0;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.certs > ul > li {
  width: 360px;
  text-align: center;
  margin-bottom: 10px;
  list-style: none;  
}

.certs > ul > li > a> img {
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: 1px solid #000;  
}
